:root {
   --clr-primary:rgb(54,112, 199);
   --clr-light: #f4f4f4;
   --clr-dark: #333;
   --clr-warning: rgb(99,36,36); 
}

*,
*::before,
*::after {
    font-family: inherit;
    box-sizing: border-box;
}


body {
   margin: 0;
   font-family: 'Courier New', Courier, monospace;
   font-weight: 300;
   font-size: 1.5rem;
   background-color: var(--clr-primary);
   color: var(--clr-light);

   display: grid;
   grid:
        "header header header header" auto
        "...... lists  active ......" auto /
        1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
}

.title {
    grid-area: header;
    text-align: center;
    font-size: calc(7vw +2rem);
    font-weight: 900;
    color: rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    margin: -0.3em 0 0.5em;
    margin-top: 2rem;
    letter-spacing: 1.5rem;

}

.all-tasks {
    grid-area: lists;
}

.task-list {
    font-size: 1.2rem;
    line-height: 1.7;
    list-style: circle;
    padding-left: 1.1em;
}

.list-name {
    cursor: pointer;
}

.list-name:hover {
    opacity: 0.7;
}

form {
    display: flex;
}

.btn {
    cursor: pointer;
    background-color: 0;
    border: 0;
    padding: 0;
    color: inherit;

}

.btn.create {
     background: var(--clr-primary);
     font-size: 1.5rem;
     font-weight: 900;
     margin-right: 0.25em;
     transition: opacity 250ms ease-in;
}

.btn.create2 {
    color: gray;
    font-size: 1.5rem;
     font-weight: 900;
     margin-right: 0.25em;
     transition: opacity 250ms ease-in;
}

.btn.create:hover {
    opacity: 0.7;
}
.new {

    background-color: transparent;
    border: 0;
    color: inherit;
    border-bottom: 1px solid currentColor;
    font-size: inherit;
    outline: none;
    padding: 0.25em;
    transition: border-bottom 150ms ease-in;
    order: 2;
}

.new::placeholder {
     opacity: 0.4;
}

.new:focus {
    border-bottom-width: 3px;
}

.new:focus::placeholder {
    opacity: 0.15;
}

.new.list {
    font-size: 1.1rem;

}

.new.task {
    margin-bottom: 0;
}

.active-list {
    font-weight: 700;

}

.todo-list {
    --spacer: 2rem;
    grid-area: active;
    background: var(--clr-light);
    color: var(--clr-dark);

}

.todo-header {
      padding: var(--spacer);
      background: #e4e4e4;
      display: flex;
      align-items: center;
      justify-content: space-between;

}

.list-title {
    margin: 0 1em 0 0;

}

.task-count {
    margin: 0;
    font-size: 1rem;
}

.todo-body {
    padding: var(--spacer);
    position: relative;
}

.new-task-creator .create {
     color: var(--clr-primary);
}

[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.task label {
    display: inline-flex;
    align-items: center;
    position: relative;
    
}

.task {
    position: relative;
    margin-bottom: 1.25em;
}

.task::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -0.5em;
    height: 1px;
    background: currentColor;
    opacity: 0.1;
}

.custom-checkbox {
    --size: 0.75em;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    margin-right: var(--size);
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}

.task:hover .custom-checkbox ,
[type="checkbox"]:focus + label .custom-checkbox{
     transform: scale(1.2);
     color: var(--clr-primary);
}

[type="checkbox"]:checked + label .custom-checkbox {
    background: var(--clr-primary);
    border-color: var(--clr-primary);
    box-shadow: inset 0 0 0px 2px white;
}

[type="checkbox"]:checked + label {
    opacity: 0.5;
}


.task label::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    left: 1.5em;
    top: calc(50% - 1.5px);
    height: 3px;
    background: currentColor;
    transform-origin:right;
    transition: transform 150ms ease-in-out;

}

[type="checkbox"]:checked + label::after {
    transform: scaleX(1);
    transform-origin:left;
}

.delete-stuff {
    display: flex;
   /* justify-content: space-evenly;*/
    margin-top: 3rem;
    margin-left: 15rem;
    width: 2rem;
    left: 0;
    bottom: -35px;
    color: black;
    
    
}

.btn.delete {
    opacity: 0.7;
    font-size: 1.3rem;
    transition: color 200ms;
    border-radius: 20%;
    margin-left: -6rem;
    background-color: peru;

}

.btn.delete2 {
    opacity: 0.7;
    font-size: 1.3rem;
    transition: color 200ms;
    border-radius: 20%;
    margin-left: 4rem;
    background-color: peru;
}

.btn.delete:hover {
  color: var(--clr-warning);
}

.btn.delete2:hover {
    color: var(--clr-warning);
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  
  .btn.delete { margin-right: 20rem;}
   .btn.delete2{ position: absolute; right: 12rem; font-size: 1.5rem; }
   .task-count { position: absolute; right: 0.1rem; font-size: 0.7rem;}
   
}